{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://img.freepik.com/photos-gratuite/travailleurs-bureau-culture-utilisant-ordinateur-portable_23-2147787633.jpg?w=740&t=st=1701444063~exp=1701444663~hmac=85c5b3cb53b5c8d498a4c7d86f10c5e74b6af7adbb64929069866b5afd6417dd"
                alt="Sample photo" class="img-fluid h-100 w-100"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
              <img src="assets/img/logo.svg" alt="logo" class="d-block mx-auto mb-4">
                <h3 class="mb-5 text-uppercase text-center">Inscrivez-vous</h3>
                {% if form_errors(registrationForm) %}
                <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  <div class="pt-2">
                    {{ form_errors(registrationForm) }}
                  </div>
                </div>
                {% endif %}
                {{ form_start(registrationForm) }}
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                       {{ form_row(registrationForm.firstname) }}   
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                       {{ form_row(registrationForm.lastname) }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                     {{ form_row(registrationForm.pseudo) }}
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                    <div class="form-outline">
                        {{ form_row(registrationForm.email) }} 
                    </div>
                </div>

                 <div class="form-outline mb-4">
                 <div class="form-outline">
                    {{ form_row(registrationForm.plainPassword) }}
                 </div>
                </div>
                 <div class="form-outline mb-4">
                    {{ form_row(registrationForm.profileUser) }}
                </div>
                 <div class="form-outline mb-4">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>

                <div class="d-flex justify-content-end pt-3">
                    {{ form_row(registrationForm.submit) }}
                </div>
                    
                    {{ form_end(registrationForm) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 

      
        


        {# <button type="submit" class="btn">Register</button> #}
    
{% endblock %}
