{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="contact" id="contact">
  <div class="container">
      <div class="heading text-center">
        <h2 class="fs-4">Contactez - <span> Nous </span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        <br>incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <div class="row">
        <div class="col-md-5">
            <div class="title">
              <h3>Contact</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
            </div>
            <div class="content">
                <!-- Info-1 -->
                <div class="info">
                  <i class="fas fa-mobile-alt"></i>
                  <h4 class="d-inline-block">PHONE :
                  <br>
                  <span>+3333333333</span></h4>
                </div>
                <!-- Info-2 -->
                <div class="info">
                    <i class="far fa-envelope"></i>
                    <h4 class="d-inline-block">EMAIL :
                    <br>
                    <span>lolanguages@info.com</span></h4>
                </div>
                <!-- Info-3 -->
                <div class="info">
                  <i class="fas fa-map-marker-alt"></i>
                  <h4 class="d-inline-block">ADDRESSE :<br>
                  <span>Lyon , France</span></h4>
                </div>
            </div>
        </div>

        <div class="col-md-7">
         {% for message in app.flashes('success') %}
          <div class="alert alert-success mt-4">
            {{message}}
          </div>
         {% endfor %}
          {{ form_start(form_contact) }}
            <div class="row">
              <div class="col-sm-6">
                  {{ form_row(form_contact.fullname) }}
              </div>
              <div class="col-sm-6">
                 {{ form_row(form_contact.email) }}
              </div>
              <div class="col-sm-12">
                   {{ form_row(form_contact.suject) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_row(form_contact.message) }}
            </div>   
          {{ form_end(form_contact) }}

        </div>
      </div>
  </div>
</section>
{% endblock %}
