  <header>
    <div class="px-3 py-2 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="{{path('home')}}" class="d-inline-block pt-3">
            <img src="/assets/img/logo.svg" alt="logo">
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-end my-md-0 text-small">
            <li>
              <a href="{{path('home')}}" class="nav-link text-secondary">
                Accueil
              </a>
            </li>
            <li>
              <a href="{{path('about')}}" class="nav-link text-secondary">
                A propos
              </a>
            </li>
            
            <li>
              <a href="{{path('course_page')}}" class="nav-link text-secondary">
                Cours
              </a>
            </li>

            <li>
              <a href="{{path('contact')}}" class="nav-link text-secondary">
                Contact
              </a>
            </li>

          {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
            <li>
              <a href="{{path('admin')}}" class="nav-link text-secondary">
                Dashboard
              </a>
            </li>
          {% endif %}
 
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        {# <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form> #}
         {% if form is defined %}
          {% include "partial/_search_data.html.twig" with {'form': form} %}
         {% endif %}

       
         {% if app.user %} 
         <div class="nav-item dropdown text-end">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="flex flex-row align-items-center">
              {% if app.user.profileUser %}
                <a href="{{path('app_user')}}"> 
                  <img src="{{asset('uploads/images/' ~ app.user.profileUser)}}" alt="photo user" class="rounded-circle" width="50px" height="50px">
                </a> 
                {% else %}
                <img src="https://img.freepik.com/vecteurs-libre/speech-bubbles-visages-souriants_23-2147512509.jpg?w=740&t=st=1701532284~exp=1701532884~hmac=eb5091d5a247ad4b702f3bee7d1499328448f251e838199a74c80cd4e7ca6742" alt="" class="rounded-circle">
              {% endif %}        
                <a href="{{path('app_user')}}" class="text-dark">Bienvenue {{app.user.userIdentifier}}</a>
              </div>
            </a>

            <ul class="dropdown-menu">
              {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
              <li><a class="dropdown-item" href="{{path('admin')}}">Administration</a></li>
              {% endif %}
            
              <li><a class="dropdown-item" href="{{path('app_logout')}}">Déconnecter</a></li>
            </ul>
        </div>
          {% else %}
          <div class="nav-item dropdown text-end" >
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu">      
              <li><a class="dropdown-item" href="{{path('app_login')}}">Se connecter</a></li>
              <li><a class="dropdown-item" href="{{path('app_logout')}}">Déconnecter</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{path('app_register')}}">S'inscrire</a></li>
            </ul>  
          </div>
          {% endif %}
      
      </div>
    </div>
  </header>