{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<section class="container">
{% if app.user %}
    <h1 class="text-start">Bienvenue {{app.user.userIdentifier}} 🐘 </h1>
    
    {% if app.user.getFavorites()|length > 0 %}
    <h2 class="text-warning text-start my-5">Mes cours favoris</h2>
    {% for favoriteCourse in app.user.getFavorites() %}
    <div class="card mb-3 d-flex flex-row" style="max-width: 800px;">
        <div class="row g-0">
            <div class="col-md-5">
            {% if favoriteCourse.coverImage starts with 'http' %}
            <img src="{{ favoriteCourse.coverImage }}" alt="" class="img-fluid rounded-start w-100 h-100 img-fluid">
            {% else %}
            <img src="{{ app.request.basePath ~ '/uploads/images/' ~ favoriteCourse.coverImage }}" alt="" class="w-100 h-100 rounded-start img-fluid">
            {% endif %}
            </div>

            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">{{ favoriteCourse.name }}</h5>
                    <p class="card-text">{{favoriteCourse.description | u.truncate(100, '...', false)}}</p>
                    <p class="card-text"><small class="text-body-secondary">{{favoriteCourse.createdAt | date('d-m-y')}}</small></p>
                        <div class="btn-group">
                        <a type="button" href="{{path('course_item', {id: favoriteCourse.id})}}" class="btn btn-sm btn-outline-secondary">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <p>Vous n'avez pas encore ajouté de cours à vos favoris. <a href="{{path('course_page')}}" class="text-primary">Allez voir les cours</a>.</p>
    {% endif %}
{% endif %}
</section>

{% endblock %}
   